{{ $author := ""}}
{{ range .Params.authors }}
{{ $author = . }}
{{ end }}

<article class="card shadow thumbnail">
  <a href="{{ .Permalink }}">
    {{ partial "image" (dict "src" (printf "images/%s" .Params.Image) "alt" .Title "size" "314x177" "sizes" (dict "320" "240x135" "375" "295x166" "425" "314x177") "page" .) }}
  </a>
  <div class="card-body">
    <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <entry-meta>
      <span class="byline">
        by
        <span class="author vcard" itemprop="author" itemtype="https://schema.org/Person" itemscope>
          <a href="{{ (printf `authors/%s` $author | urlize) | relURL }}" title="View all posts by {{ $author }}">
            <span class="author-name text-hover-highlight" itemprop="name">{{ $author }}</span>
          </a>
        </span>
      </span>
    </entry-meta>
  </div>
</article>